In [27]:
import pandas as pd
import numpy as np
import os, re, time
import sqlite3 as lite
from nyc_geoclient import Geoclient

In [28]:
# read-in NYC Geoclient API token
token=open('NYC_Geoclient_token.txt')
g=Geoclient(token.readline().strip('\n'), token.readline().strip('\n'))

In [29]:
def clean_strings(x):
    try:
        return str(x).strip()
    except ValueError:
        return np.nan
    
def parse_address(address):
    separators=['Apt','APT','#']
    # gets rid of the apartments in the address
    for separator in separators:
        if address.find(separator)!=-1:
            no_apt=address.split(separator,1)[0]
        else:
            no_apt=address
        #apartments can also be indicated by comma followed by number with optional letter (ex: , 503C)
        street=re.split(r'(,\s\d+$|,\s\d+\w{1}$)', no_apt)
        street=street[0] # grab what came before the apartment
        
        #separate address into street number and street name.
    split=re.split(r'(^\d+\s|^\d+-\d+\s|^\d+\w{1}\s|^\d+-\d+\w{1}\s)', street)
    if split[0]=='':            
        split.remove(split[0])
#     print split
    # strip trailing spaces
    return [_.strip() for _ in split]
        
def AddressMatch(str_num,str_name,borough): ## function to geocode street addresses
    geocode=g.address(str_num, str_name, borough)
    message=geocode.get('message')
    latitude=geocode.get('latitude')
    longtitude=geocode.get('longitude')
    GeocodeResult='Address Match'
    return [longtitude, latitude, GeocodeResult, message]

def BlockMatch(borough, block,lot): ## function to geocode blocks and lots
    geocode=g.bbl(borough, block,lot)
    message=geocode.get('message')
    latitude=geocode.get('latitudeInternalLabel')
    longtitude=geocode.get('longitudeInternalLabel')
    GeocodeResult='Block Match'
    return [longtitude, latitude, GeocodeResult, message]

def Geocode(df):
    start=int(input('''From what line should I start? 
    Type in numercial value; type 0 (zero) for the first iteration \n'''))
    counter=0
    for index, row in df.iterrows():
        # geocode only from starting passed as input
        if index==0 or index > start:    
            counter=counter+1
            if counter % 5000==0:
                print '{} records have been geocoded'.format(counter)
            if counter%50==0:
                # will pause for 1 second after 50 geocoded records
                time.sleep(1)
            try:
                # do Address match first
                result=AddressMatch(row['street_number'], row['street_name'], int(row['borough']) )

                # if longtitude is None-->invalid addres, then try BlockMatch function
                if result[0] is None:
                    result=BlockMatch(int(row['borough']), int(row['block']), int(row['lot']) )

                    # if BlockMatch didn't return longtitude, mark the record as Unmatched in place of result
                    if result[0] is None:
                        result[2]='Unmatched'

                # for the db, remove last two items (parsed addrres) from the dataframe row and add geocoded results
                db_row=list(row[0:-2])+result

                # writing geocoded record into a database
                cur=con.cursor()
                table_name='yr{}'.format(year)
                cur.execute('''CREATE TABLE IF NOT EXISTS %s (sale_id INTEGER PRIMARY KEY, bbl_id INTEGER, 
                year TEXT, borough INTEGER,nbhd TEXT, bldg_ctgy TEXT,
                tax_cls_p TEXT, block TEXT,lot TEXT,easmnt TEXT, bldg_cls_p TEXT,address TEXT,
                apt TEXT, zip TEXT, res_unit INTEGER,com_unit INTEGER, tot_unit INTEGER, land_sqft INTEGER,
                tot_sqft INTEGER, yr_built INTEGER, tax_cls_s TEXT, bldg_cls_s TEXT,sale_date TEXT, price INTEGER,
                usable TEXT, long REAL, lat REAL, georesult TEXT, message TEXT)'''% table_name)

                qMark='?,'*28
                placeholder=qMark[:-1]       
                cur.execute('''INSERT INTO %s(bbl_id, year, borough, nbhd, bldg_ctgy, tax_cls_p, block,lot,
                easmnt, bldg_cls_p, address, apt, zip, res_unit, com_unit, tot_unit, land_sqft, tot_sqft,
                yr_built, tax_cls_s, bldg_cls_s, sale_date, price, usable, long, lat, 
                georesult, message) VALUES (%s)''' % (table_name,placeholder), db_row)        
                con.commit()    

            except Exception as e:
                print e
                print('An error has occurred. File stopped at index {}'.format(index))
                break
    con.close()    
    print 'Done'

In [30]:
data_path='/Users/anastasiaclark/NYC_RE_Sales'
# turn year into user input after testing
year='2017'

In [31]:
# read each borough sales and put it in a list temporarily
df_list=[]
data_folder=os.path.join(data_path,year)
boro_sales=[table for table in os.listdir(data_folder) if not 'citywide_sales' in table ]
for boro_table in boro_sales:
    df=pd.read_excel(os.path.join(data_folder,boro_table),skiprows=[0,1,2,3], parse_dates=True)
    df_list.append(df)

In [32]:
# get all boroughs sales into a single table
sales=pd.concat(df_list, ignore_index=True)
# clean-up column names
sales.columns=[c.strip() for c in sales.columns]

# give shorter names
sales.rename(columns={'BOROUGH': 'borough','NEIGHBORHOOD':'nbhd','BUILDING CLASS CATEGORY':'bldg_ctgy',
                   'TAX CLASS AT PRESENT':'tax_cls_p','BLOCK':'block','LOT':'lot',
                      'EASE-MENT':'easmnt','BUILDING CLASS AT PRESENT':'bldg_cls_p','ADDRESS':'address',
                   'APARTMENT NUMBER':'apt','ZIP CODE':'zip','RESIDENTIAL UNITS':'res_unit',
                   'COMMERCIAL UNITS':'com_unit','TOTAL UNITS':'tot_unit',
                   'LAND SQUARE FEET':'land_sqft','GROSS SQUARE FEET':'tot_sqft',
                   'YEAR BUILT':'yr_built','TAX CLASS AT TIME OF SALE':'tax_cls_s',
                   'BUILDING CLASS AT TIME OF SALE':'bldg_cls_s',
                      'SALE PRICE':'price','SALE DATE':'sale_date'}, 
          inplace=True)

# in 2017 DOF changed the column names, assuming that column 'BUILDING CLASS AS OF FINAL ROLL 17/18' will have different
# ending, locate them using the regex and rename them
sales.rename(columns={sales.filter(regex='BUILDING CLASS AS OF FINAL ROLL*').columns[0]: 'bldg_cls_p', 
                      sales.filter(regex='TAX CLASS AS OF FINAL ROLL*').columns[0]: 'tax_cls_p'}, inplace=True)

In [33]:
# strip trailing spaces from text columns
text_cols=[c for c in sales.columns if sales[c].dtype=='object']
for c in text_cols:
    sales[c]=sales[c].apply(lambda x: clean_strings(x))

# add some columns    
sales['bbl_id']=sales['borough'].astype(str)+sales['block'].astype(str)+sales['lot'].astype(str)
sales['usable']=np.where(sales['price']>10,'True','False')
sales['year']='{}'.format(year)
# SQLite doesn't support pandas datetime format, change dates to text
sales['sale_date']=sales['sale_date'].astype(str)


# re-arrange the order of the columns to be same as in the past
cols_order=['bbl_id', 'year', 'borough', 'nbhd', 'bldg_ctgy', 'tax_cls_p', 'block', 'lot',
            'easmnt', 'bldg_cls_p', 'address', 'apt', 'zip', 'res_unit', 'com_unit', 
            'tot_unit', 'land_sqft', 'tot_sqft', 'yr_built', 'tax_cls_s', 'bldg_cls_s', 
            'sale_date', 'price', 'usable']

sales=sales.loc[:, cols_order]

In [34]:
# separate address into individual parts (needed for geocoding parameters)
sales[['street_number', 'street_name']]=sales.apply(lambda row: pd.Series(parse_address(row['address'])), axis=1)

In [35]:
sales.shape

(88660, 26)

# Testing

In [36]:
sales.index.is_unique

True

In [41]:
# this line runs...
con=lite.connect('RE_Sales_beta.sqlite')
r=Geocode(sales)

From what line should I start?
    Type in numercial value; type 0 (zero) for the first iteration
56364
5000 records have been geocoded
10000 records have been geocoded
15000 records have been geocoded
20000 records have been geocoded
25000 records have been geocoded
30000 records have been geocoded
Done

In [ ]:
#AddressMatch(sales.iloc[12503]['street_number'], sales.iloc[12503]['street_name'], sales.iloc[12503]['borough'])

In [79]:
q='''select * from yr2017'''

In [80]:
con=lite.connect('RE_Sales_beta.sqlite')
df=pd.read_sql_query(q,con)

In [81]:
df.columns

Index([u'sale_id', u'bbl_id', u'year', u'borough', u'nbhd', u'bldg_ctgy',
       u'tax_cls_p', u'block', u'lot', u'easmnt', u'bldg_cls_p', u'address',
       u'apt', u'zip', u'res_unit', u'com_unit', u'tot_unit', u'land_sqft',
       u'tot_sqft', u'yr_built', u'tax_cls_s', u'bldg_cls_s', u'sale_date',
       u'price', u'usable', u'long', u'lat', u'georesult', u'message'],
      dtype='object')

In [82]:
# 48 Unmatched rows
df.loc[df['georesult']=='Unmatched']

,sale_id,bbl_id,year,borough,nbhd,bldg_ctgy,tax_cls_p,block,lot,easmnt,...,yr_built,tax_cls_s,bldg_cls_s,sale_date,price,usable,long,lat,georesult,message
1905,1906,2294641,2017,2,EAST TREMONT,05 TAX CLASS 1 VACANT LAND,1B,2946,41,,...,0,1,V0,2017-08-09,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
3818,3819,22598183,2017,2,MOTT HAVEN/PORT MORRIS,31 COMMERCIAL VACANT LAND,4,2598,183,,...,0,4,V1,2017-03-09,125000,True,NaN,NaN,Unmatched,TAX LOT NOT FOUND
3884,3885,22850160,2017,2,MOUNT HOPE/MOUNT EDEN,05 TAX CLASS 1 VACANT LAND,1B,2850,160,,...,0,1,V0,2017-08-02,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
4849,4850,25859285,2017,2,RIVERDALE,05 TAX CLASS 1 VACANT LAND,1B,5859,285,,...,0,1,V0,2017-02-08,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
6105,6106,23436350,2017,2,SOUNDVIEW,05 TAX CLASS 1 VACANT LAND,1B,3436,350,,...,0,1,V0,2017-12-21,475000,True,NaN,NaN,Unmatched,TAX LOT NOT FOUND
7528,7529,2468376,2017,2,WILLIAMSBRIDGE,05 TAX CLASS 1 VACANT LAND,1B,4683,76,,...,0,1,V0,2017-08-24,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
13841,13842,122159079,2017,1,INWOOD,31 COMMERCIAL VACANT LAND,4,2215,9079,,...,0,4,V9,2017-12-15,0,False,NaN,NaN,Unmatched,None
14261,14262,19359049,2017,1,KIPS BAY,31 COMMERCIAL VACANT LAND,4,935,9049,,...,0,4,V1,2017-02-02,0,False,NaN,NaN,Unmatched,None
14262,14263,19359050,2017,1,KIPS BAY,31 COMMERCIAL VACANT LAND,4,935,9050,,...,0,4,V1,2017-02-02,0,False,NaN,NaN,Unmatched,None
15622,15623,113609002,2017,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1360,9002,,...,1967,2,D4,2017-12-12,190000,True,NaN,NaN,Unmatched,None
15623,15624,113609002,2017,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1360,9002,,...,1967,2,D4,2017-12-20,255000,True,NaN,NaN,Unmatched,None
18105,18106,18589053,2017,1,MURRAY HILL,31 COMMERCIAL VACANT LAND,4,858,9053,,...,0,4,V1,2017-05-05,3409256,True,NaN,NaN,Unmatched,None
18106,18107,18589056,2017,1,MURRAY HILL,31 COMMERCIAL VACANT LAND,4,858,9056,,...,0,4,V1,2017-05-05,4400000,True,NaN,NaN,Unmatched,None
27369,27370,516681081,2017,5,BULLS HEAD,04 TAX CLASS 1 CONDOS,1A,1668,1081,,...,1983,1,R3,2017-09-11,255000,True,NaN,NaN,Unmatched,None
33121,33122,566551,2017,5,PRINCES BAY,05 TAX CLASS 1 VACANT LAND,1B,6655,1,,...,0,1,V0,2017-03-23,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
33123,33124,566621,2017,5,PRINCES BAY,05 TAX CLASS 1 VACANT LAND,1B,6662,1,,...,0,1,V0,2017-03-23,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
33767,33768,57577200,2017,5,ROSSVILLE-RICHMOND VALLEY,05 TAX CLASS 1 VACANT LAND,1B,7577,200,,...,0,1,V0,2017-04-27,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
34901,34902,5264545,2017,5,TRAVIS,31 COMMERCIAL VACANT LAND,4,2645,45,,...,0,4,V1,2017-01-26,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
34902,34903,5264545,2017,5,TRAVIS,31 COMMERCIAL VACANT LAND,4,2645,45,,...,0,4,V1,2017-01-26,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
35208,35209,514853,2017,5,WEST NEW BRIGHTON,05 TAX CLASS 1 VACANT LAND,1B,148,53,,...,0,1,V0,2017-07-07,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
37975,37976,3178652,2017,3,BEDFORD STUYVESANT,05 TAX CLASS 1 VACANT LAND,1B,1786,52,,...,0,1,V0,2017-05-05,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
39427,39428,3384172,2017,3,BOERUM HILL,05 TAX CLASS 1 VACANT LAND,1B,384,172,,...,0,1,V0,2017-01-27,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
40840,40841,3534646,2017,3,BOROUGH PARK,31 COMMERCIAL VACANT LAND,4,5346,46,,...,0,4,V1,2017-09-14,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
44313,44314,3290131,2017,3,COBBLE HILL,31 COMMERCIAL VACANT LAND,4,290,131,,...,0,4,V1,2017-04-26,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
47632,47633,3428446,2017,3,EAST NEW YORK,05 TAX CLASS 1 VACANT LAND,1B,4284,46,,...,0,1,V0,2017-04-19,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
47828,47829,3436840,2017,3,EAST NEW YORK,31 COMMERCIAL VACANT LAND,4,4368,40,,...,0,4,V1,2017-12-06,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
54142,54143,3146858,2017,3,OCEAN HILL,05 TAX CLASS 1 VACANT LAND,1B,1468,58,,...,0,1,V0,2017-02-10,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
54599,54600,3651521,2017,3,OCEAN PARKWAY-NORTH,05 TAX CLASS 1 VACANT LAND,1B,6515,21,,...,0,1,V0,2017-07-17,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
54841,54842,3653642,2017,3,OCEAN PARKWAY-NORTH,31 COMMERCIAL VACANT LAND,4,6536,42,,...,0,4,V1,2017-08-24,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
54842,54843,3653643,2017,3,OCEAN PARKWAY-NORTH,31 COMMERCIAL VACANT LAND,4,6536,43,,...,0,4,V1,2017-08-24,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
57988,57989,3746013,2017,3,SHEEPSHEAD BAY,29 COMMERCIAL GARAGES,4,7460,13,,...,0,4,G7,2017-03-07,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
58226,58227,34586203,2017,3,SPRING CREEK,31 COMMERCIAL VACANT LAND,,4586,203,,...,0,4,V1,2017-08-07,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
60424,60425,324579039,2017,3,WILLIAMSBURG-SOUTH,31 COMMERCIAL VACANT LAND,4,2457,9039,,...,0,4,V9,2017-11-27,0,False,NaN,NaN,Unmatched,None
60970,60971,41606425,2017,4,ARVERNE,05 TAX CLASS 1 VACANT LAND,1B,16064,25,,...,0,1,V0,2017-06-21,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
61830,61831,48901,2017,4,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,,...,1920,2,D4,2017-02-27,500000,True,NaN,NaN,Unmatched,TAX LOT NOT FOUND
61831,61832,48901,2017,4,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,,...,1920,2,D4,2017-05-31,500000,True,NaN,NaN,Unmatched,TAX LOT NOT FOUND
61832,61833,48901,2017,4,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,,...,1920,2,D4,2017-12-12,399000,True,NaN,NaN,Unmatched,TAX LOT NOT FOUND
66054,66055,4170058,2017,4,EAST ELMHURST,05 TAX CLASS 1 VACANT LAND,1B,1700,58,,...,0,1,V0,2017-01-18,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
68816,68817,45251183,2017,4,FLUSHING-NORTH,05 TAX CLASS 1 VACANT LAND,1B,5251,183,,...,0,1,V0,2017-07-19,30547,True,NaN,NaN,Unmatched,TAX LOT NOT FOUND
75166,75167,4139875,2017,4,HOWARD BEACH,05 TAX CLASS 1 VACANT LAND,1B,13987,5,,...,0,1,V0,2017-03-31,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
75167,75168,4139875,2017,4,HOWARD BEACH,05 TAX CLASS 1 VACANT LAND,1B,13987,5,,...,0,1,V0,2017-03-31,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
85794,85795,41174644,2017,4,SOUTH OZONE PARK,29 COMMERCIAL GARAGES,4,11746,44,,...,0,4,G7,2017-08-16,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND
85795,85796,41174644,2017,4,SOUTH OZONE PARK,29 COMMERCIAL GARAGES,4,11746,44,,...,0,4,G7,2017-10-27,0,False,NaN,NaN,Unmatched,TAX LOT NOT FOUND